<footer>
    <div class="flex-container space-out small-text condensed">
        <div class="flex-child">
            <h4>Contacts</h4>
            <p><b>Email: </b>michaelyhuang23 (at) gmail (dot) com</p>
            <ul class="sep-list-small size-down">
                <li><a href="https://github.com/ChemistryAtAndover ">GitHub</a></li>
            </ul>
        </div>
        <div class="flex-child">
            <h4>Quick Links</h4>
            <ul class="sep-list-small size-down">
                <li><a href="otherblogs">Other Resources</a></li>
            </ul>
        </div>
        <div class="flex-child inline">
            <h4>Share this:</h4>
            {% include socialshare.html %}
        </div>
    </div>
</footer>