<header>
    <div class="float-child">
        <a href="https://ratyfi.com/">
            <picture>
                <source srcset="
                        /assets/images/Chem-Club.png" type="image/png">
                <source srcset="
                        /assets/images/Chem-Club.png" type="image/png">
                <img id="logo" src="/assets/images/Chem-Club.png" alt="Chem Club Logo">
            </picture>
        </a>
    </div>
    <div class="float-child">
        <nav>
            <ul class="inline">
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}" {% if page.url==item.link %}class="selected" {% endif %}>
                        {{item.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="clr"></div>
</header>